# created by virtualenv automatically
*.html
*.pyc
*.tmp
*.unsaved
*CodeCoverage
*ModuleWiseCoverage
*assets/
*build/
*coverage*
*idea*
*venv/
.DS_Store
.dvp-gen-output/
.idea/
.venv/
/.dvp-gen-output/*
/lib/*
/local/*
/src/generated/*
__pycache__/
artifact.json
bin
build.sh
build/
docs/.idea
docs/site
docs/venv
include
lib/*
local/*
pyvenv.cfg
src/generated/*
venv/
lib64
